@model ViewModel

<h2>Previsioni e Budget - WIP</h2>
<br />
<!-- Modal ADD-->

<div class="modal fade" id="newticket" tabindex="-1" role="dialog" aria-labelledby="newitemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuovo ticket</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="form-row">
                <partial name="Ticket_Add" model="Model.Ticket" />
            </div>
        </div>
    </div>
</div>
<br />
<br />
<!-- Modal EDIT-->

<div class="modal fade" id="editticket" tabindex="-1" role="dialog" aria-labelledby="newitemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifica ticket</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="ModalBodyDivte">
                <div class="form-row">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal DELETE-->
<div class="modal fade" id="deleteticket" tabindex="-1" role="dialog" aria-labelledby="newitemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rimuovi ticket</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="ModalBodyDivtd">
                <div class="form-row">
                </div>
            </div>
        </div>
    </div>
</div>
<h3>Movimenti del mese</h3>
<div class="row">
    <div class="col-sm-7">
        <div class="card shadow p-3 border-light mb-3" style="margin: 0 auto;">
            <div class="card-body">
                <div class="row">
                    <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto;">
                        <div class="card-header">Entrate</div>
                        <div class="card-body">
                            <div class="table-responsive-xl">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Titolo</th>
                                            <th scope="col">Importo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>tit</td>
                                            <td type="number">137€</td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto;">
                        <div class="card-header">Uscite</div>
                        <div class="card-body">
                            <div class="table-responsive-xl">
                                <table class="table table-striped table-hover">

                                    <thead>
                                        <tr>
                                            <th scope="col">Titolo</th>
                                            <th scope="col">Importo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>tit</td>

                                            <td type="number">456</td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">

                <h3>Ticket</h3>
   
        <div class="card shadow p-3 border-light mb-3" style="margin: 0 auto;">
            <div class="card-header"><button type="button" class="btn btn-sm" style="background-color: #2574A9" data-toggle="modal" data-target="#newticket" data-whatever="getbootstrap">Aggiungi ticket</button></div>
            <div class="card-body">
                <div class="table-responsive-xl">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Gestore</th>
                                <th scope="col">Valore singolo</th>
                                <th scope="col">Numero</th>
                                <th scope="col">Valore tot</th>
                                <th scope="col">Note</th>
                                <th scope="col">Azioni</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Tickets)
                            {
                                <tr>
                                    <td>@item.TicketName</td>
                                    <td>@item.TicketValue.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))</td>
                                    <td type="number">@item.NumTicket</td>
                                    <td type="number">@((item.TicketValue*Convert.ToInt32(item.NumTicket)).ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es")))</td>
                                    <td>
                                        @if (@item.TicketNote != null && @item.TicketNote.Length > 10)
                                        {
                                            @(item.TicketNote.Substring(0, 10) + " ...")
                                        }
                                        else
                                        {@item.TicketNote}
                                    </td>
                                    <td style='white-space: nowrap'>
                                        <span class="btn btn-outline-secondary material-icons md-24 orange600" type="button" onclick="EditTicket(@item.ID)" style="display: inline-flex; vertical-align: text-bottom; font-size: 18px" data-toggle="tooltip" title="Modifica">edit</span>
                                        <span class="btn btn-outline-danger material-icons md-24 orange600" type="button" onclick="DeleteTicket(@item.ID)" style="display: inline-flex; vertical-align: text-bottom; font-size: 18px" data-toggle="tooltip" title="Elimina">delete</span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

            <br />
            <div class="row">
               
              
                
            </div>



            @section scripts {
                <script>
                    function EditBank(ClientID) {
                        var url = "/PersonalFinance/Bank_Edit/" + ClientID;
                        $("#ModalBodyDivbe").load(url, function () {
                            $("#editbank").modal("show");
                        })
                    }
                    function DeleteBank(ClientID) {
                        var url = "/PersonalFinance/Bank_Delete/" + ClientID;
                        $("#ModalBodyDivbd").load(url, function () {
                            $("#deletebank").modal("show");
                        })
                    }

                    function EditDeposit(ClientID) {
                        var url = "/PersonalFinance/Deposit_Edit/" + ClientID;
                        $("#ModalBodyDivde").load(url, function () {
                            $("#editdeposit").modal("show");
                        })
                    }
                    function DeleteDeposit(ClientID) {
                        var url = "/PersonalFinance/Deposit_Delete/" + ClientID;
                        $("#ModalBodyDivdd").load(url, function () {
                            $("#deletedeposit").modal("show");
                        })
                    }

                    function EditTicket(ClientID) {
                        var url = "/PersonalFinance/Ticket_Edit/" + ClientID;
                        $("#ModalBodyDivte").load(url, function () {
                            $("#editticket").modal("show");
                        })
                    }
                    function DeleteTicket(ClientID) {
                        var url = "/PersonalFinance/Ticket_Delete/" + ClientID;
                        $("#ModalBodyDivtd").load(url, function () {
                            $("#deleteticket").modal("show");
                        })
                    }
                    $(document).ready(function () {
                        $('[data-toggle="tooltip"]').tooltip({ 'placement': 'right' });
                    });
                </script>
            }
