@model ViewModel

<h2>Previsioni e Budget</h2>
<br />
@*<!-- Modal ADD-->


<!-- Modal EDIT-->

<div class="modal fade" id="editticket" tabindex="-1" role="dialog" aria-labelledby="newitemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifica ticket</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="ModalBodyDivte">
                <div class="form-row">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal DELETE-->
<div class="modal fade" id="deleteticket" tabindex="-1" role="dialog" aria-labelledby="newitemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rimuovi ticket</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="ModalBodyDivtd">
                <div class="form-row">
                </div>
            </div>
        </div>
    </div>
</div>*@



<div class="row">
    <div class="col-md-4">
        <h3>Budget</h3>
        <div class="card shadow p-3 border-light mb-3" style="margin: 0 auto;">
            <div class="card-header">Previsione del saldo nel futuro</div>
            <div class="card-body">
                <partial name="Budget_Calc" model="Model.Budget_Calc" />
            </div>
        </div>
        <div class="card shadow p-3 border-light mb-3">
            <div class="cards" style="padding-top: 5px; gap: 15px; grid-template-columns: none; margin: unset">
                <div class="row">
                    <div class="col-md-5">
                        <div class="card shadow p-3 border-dark mb-3">

                            <div class="card-header">Saldo ad oggi</div>
                            <div class="card-body">
                                <h5>@ViewBag.ActualBalance.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))</h5>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-7">
                        <div class="card shadow p-3 border-dark mb-3">
                            @if (@ViewBag.Future_Date != new DateTime())
                            {
                                <div class="card-header">Saldo previsto al @ViewBag.Future_Date.ToString("dd/MM/yyyy")</div>
                            }
                            else if (@ViewBag.Future_Date == new DateTime())
                            {
                                <div class="card-header">Saldo previsto al ...</div>
                            }

                            <div class="card-body">
                                <h5>@ViewBag.stimated_total.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))</h5>
                            </div>
                        </div>
                    </div>
                </div>
                


            </div>
        </div>
        <div class="card shadow p-3 border-light mb-3" style="margin: 0 auto;">
            <div class="card-header">Come funziona</div>
            <div class="card-body">
                In questa sezione è possibile fare delle stime e previsioni, basate su dati storici, attuali e stimati futuri.<br />
                <br />
                <u><b>Situazione attuale:</b></u><br />
                Nella colonna a lato sono rappresentate tutte le entrate e uscite previste nel mese corrente, aggiornate in riferimento alle ultime transazioni inserite.
                I valori contrassegnati da una spunta verde indicano quei movimenti che sono già avvenuti, di cui si trova immediato riscontro nell'archivio transazioni.<br />
                <br />
                <u><b>Previsioni:</b></u><br />
                Puoi inserire quì sopra una data nel futuro ed eventuali fattori correttivi che ritieni appropriati, il sistema calcolerà il saldo previsto per quella data, tenendo conto dei movimenti mensili noti, dei crediti e debiti e delle scadenze.<br /><br />
                <i>Parole chiave:</i><br />
                <b>Flusso</b>: Differenza tra entrate e uscite.<br />
                <b>Saldo</b>: Somma totale posseduta ad oggi.<br />
                <b>Fattore correttivo</b>: Importo arbitrario definito dall'utente per correggere le previsioni tenendo conto di importi non calcolabili dal sistema.
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        @if(ViewBag.stimated_total == 0)
        {
            <h3>Movimenti previsti in questo mese</h3>
        <div class="card shadow p-3 border-light mb-3" style="margin: 0 auto;">
            <div class="card-body">
                <div class="cards" style="padding-top: 5px; gap: 15px; grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));">
                    <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto; width: -webkit-fill-available">
                        <h4>Totale entrate: @ViewBag.TotIn.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))</h4><br />
                        <div class="card-header">Entrate</div>
                        <div class="card-body">
                            <div class="table-responsive-xl">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Titolo</th>
                                            <th scope="col">Importo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        @foreach (var item in ViewBag.In)
                                        {
                                            <tr>
                                                <td>                          
                                                    <span class="dot" style="background-color: @item.ColorLabel; border-radius: 50%; display: inline-block; height: 11px; width: 11px;"></span>
                                                    &nbsp; @item.ExpTitle
                                                </td>
                                                <td>
                                                        <span>@item.ExpValue.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))&nbsp;
          
                                                        @foreach (var exp in ViewBag.ExpDone)
                                                        {
                                                            @if (exp.ExpTitle == @item.ExpTitle)
                                                            {
                                                                <span class="material-icons" style="color: green; font-size: 18px; vertical-align: text-bottom">
                                                                    done
                                                                </span>
                                                                break;
                                                            }
                                                        }
                                                        </span>
                                                
                                                
                                                </td>
                                            </tr>

                                        }
                                    </tbody>                                    
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto; width: -webkit-fill-available">
                        <h4>Totale uscite: @ViewBag.TotOut.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))</h4><br />
                        <div class="card-header">Uscite</div>
                        <div class="card-body">
                            <div class="table-responsive-xl">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Titolo</th>
                                            <th scope="col">Importo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.Out)
                                        {
                                            <tr>
                                                <td>                          
                                                    <span class="dot" style="background-color: @item.ColorLabel; border-radius: 50%; display: inline-block; height: 11px; width: 11px;"></span>
                                                    &nbsp; @item.ExpTitle
                                                </td>
                                                    <td>
                                                        @item.ExpValue.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))&nbsp;
                                                    @foreach (var exp in ViewBag.ExpDone)
                                                    {
                                                        @if (exp.ExpTitle == @item.ExpTitle)
                                                        {
                                                                <span class="material-icons" style="color: green; font-size: 18px; vertical-align: text-bottom">
                                                                    done
                                                                </span>
                                                        }
                                                    }
                                                    </td>
                                            </tr>
                                        }
                                    </tbody>                                    
                                </table>
                            </div>                            
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-6">
                        <p style="font-size: x-large">Flusso mensile previsto:  @ViewBag.ActualFlux.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))</p>
                    </div>
                    <div class="col-6">
                        <p style="font-size: x-large">Flusso mensile rimanente:  @ViewBag.ExpDoneRemain.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="card shadow p-3 border-light mb-3" style="margin: 0 auto;">
            <div class="card-header">Totale flusso attuale</div>
            <div class="card-body">                
                <h4>Totale flusso mensile attuale: @ViewBag.MonthFlux.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))</h4><br />
                <div class="row">
                    <div class="col-6">
                        <p style="font-size: x-large">Differenza tra previsto e attuale: @ViewBag.DiffExEff.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))</p>
                    </div>
                    <div class="col-6">
                        <p style="font-size: x-large">
                            Differenza percentuale: @Math.Round(ViewBag.PercDiff, 0) % @if (ViewBag.MonthFlux > ViewBag.ActualFlux)
                            {
                                <span class="material-icons" style="color: red">
                                    arrow_drop_up
                                </span>
                            }
                            else
                            {
                                <span class="material-icons" style="color: green">
                                    arrow_drop_down
                                </span>
                            }
                        </p>

                    </div>
                </div>
                
                
            </div>
        </div>        

                <div class="card shadow p-3 border-light mb-3" style="margin: 0 auto;">
                    <div class="card-header">Flussi nei mesi precedenti</div>
                    <div class="card-body">
<h4>Flussi totali effettivi nei cinque mesi precedenti</h4><br />
                        <div class="row">
                            <div class="col-8">
<canvas id="myChart" style="width:100%;max-width:8000px"></canvas>
                            </div>
                            <div class="col-4">
                                Flusso medio mesi precedenti: 
                            </div>
                            </div>
                        
                        
                    </div>
                </div>
        }
        @if (ViewBag.stimated_total != 0){
            <h3>Movimenti previsti nel periodo selezionato</h3>
            <div class="card shadow p-3 border-light mb-3" style="margin: 0 auto;">
                <div class="card-body">
                    <div class="cards" style="padding-top: 5px; gap: 15px; grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));">
                        <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto; width: -webkit-fill-available">
                            <h4>Totale entrate: @ViewBag.TotIn.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))</h4><br />
                            <div class="card-header">Entrate</div>
                            <div class="card-body">
                                <div class="table-responsive-xl">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Titolo</th>
                                                <th scope="col">Importo</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in ViewBag.In)
                                            {
                                                <tr>
                                                    <td>
                                                        <span class="dot" style="background-color: @item.ColorLabel; border-radius: 50%; display: inline-block; height: 11px; width: 11px;"></span>
                                                        &nbsp; @item.ExpTitle &nbsp;
                                                        @if (@item.ColorLabel == "orange")
                                                        {
                                                            <b>( x</b>
                                                            @Math.Round(ViewBag.MonthCount, 1)
                                                            <b>)</b>
                                                        }
                                                    </td>
                                                    <td>@item.ExpValue.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))</td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>                                
                            </div>
                        </div>
                        <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto; width: -webkit-fill-available">
                            <h4>Totale uscite: @ViewBag.TotOut.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))</h4><br/>
                            <div class="card-header">Uscite</div>
                            <div class="card-body">
                                <div class="table-responsive-xl">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Titolo</th>
                                                <th scope="col">Importo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.Out)
                                            {
                                                <tr>
                                                    <td>
                                                        <span class="dot" style="background-color: @item.ColorLabel; border-radius: 50%; display: inline-block; height: 11px; width: 11px;"></span>
                                                        &nbsp; @item.ExpTitle
                                                        @if (@item.ColorLabel == "orange")
                                                        {
                                                            <b>( x</b>
                                                            @Math.Round(ViewBag.MonthCount, 1)
                                                            <b>)</b>
                                                        }
                                                    </td>
                                                    <td>@item.ExpValue.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <br /><p style="font-size: x-large">Flusso previsto nel periodo:  @ViewBag.ActualFlux.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))</p>
                </div>
            </div>
        }
        
    </div>
</div>


   
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


                <script>
                    function EditBank(ClientID) {
                        var url = "/PersonalFinance/Bank_Edit/" + ClientID;
                        $("#ModalBodyDivbe").load(url, function () {
                            $("#editbank").modal("show");
                        })
                    }
                    function DeleteBank(ClientID) {
                        var url = "/PersonalFinance/Bank_Delete/" + ClientID;
                        $("#ModalBodyDivbd").load(url, function () {
                            $("#deletebank").modal("show");
                        })
                    }
                    $(document).ready(function () {
                        $('[data-toggle="tooltip"]').tooltip({ 'placement': 'right' });
                    });
                </script>
    
    <script>
        var ctxb = document.getElementById("myChart");
        var myChart = new Chart(ctxb, {
            type: 'bar',
            data: {
            labels: @Html.Raw(ViewBag.BarMonths),
                datasets: [{
                    label: "Totale €",
                    data: @Html.Raw(ViewBag.BarValues),
                    backgroundColor: 'rgba(54, 162, 235, 0.2)'
                    ,
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                legend: {
                    display: false
                },
                plugins: {
                    labels: {
                        fontColor: "#506678"
                    }
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            maxRotation: 90,
                            minRotation: 80
                        },
                        color: 'red',
                        gridLines: {
                            offsetGridLines: true
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    x: {

                    }
                }
            }
        });


    </script>
            
