@model ViewModel

<h2>Previsioni e Budget</h2>
<br />
<!-- Modal ADD-->


<!-- Modal EDIT-->

<div class="modal fade" id="editticket" tabindex="-1" role="dialog" aria-labelledby="newitemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifica ticket</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="ModalBodyDivte">
                <div class="form-row">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal DELETE-->
<div class="modal fade" id="deleteticket" tabindex="-1" role="dialog" aria-labelledby="newitemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rimuovi ticket</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="ModalBodyDivtd">
                <div class="form-row">
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-4">
        <h3>Budget</h3>
        <div class="card shadow p-3 border-light mb-3" style="margin: 0 auto;">
            <div class="card-header">Previsione del saldo nel futuro</div>
            <div class="card-body">
                <partial name="Budget_Calc" model="Model.Budget_Calc" />
            </div>
        </div>
        <div class="card shadow p-3 border-light mb-3" style="margin: 0 auto;">
            <div class="card-header">Saldo ipotizzato al ...</div>
            <div class="card-body">
                @ViewBag.stimated_total €
            </div>
        </div>
        <div class="card shadow p-3 border-light mb-3" style="margin: 0 auto;">
            <div class="card-header">Come funziona</div>
            <div class="card-body">
                testo
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        @if(ViewBag.stimated_total == 0)
        {
            <h3>Movimenti previsti in questo mese</h3>
        <div class="card shadow p-3 border-light mb-3" style="margin: 0 auto;">
            <div class="card-body">
                <div class="cards" style="padding-top: 5px; gap: 15px; grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));">
                    <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto; width: -webkit-fill-available">
                        <div class="card-header">Entrate</div>
                        <div class="card-body">
                            <div class="table-responsive-xl">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Titolo</th>
                                            <th scope="col">Importo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        @foreach (var item in ViewBag.In)
                                        {
                                            <tr>
                                                <td>                          
                                                    <span class="dot" style="background-color: @item.ColorLabel; border-radius: 50%; display: inline-block; height: 11px; width: 11px;"></span>
                                                    &nbsp; @item.ExpTitle
                                                </td>
                                                <td>@item.ExpValue.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))</td>
                                            </tr>

                                        }
                                    </tbody>                                    
                                </table>
                            </div>
                            <h3>Totale entrate: @ViewBag.TotIn.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))</h3>
                        </div>
                    </div>
                    <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto; width: -webkit-fill-available">
                        <div class="card-header">Uscite</div>
                        <div class="card-body">
                            <div class="table-responsive-xl">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Titolo</th>
                                            <th scope="col">Importo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.Out)
                                        {
                                            <tr>
                                                <td>                          
                                                    <span class="dot" style="background-color: @item.ColorLabel; border-radius: 50%; display: inline-block; height: 11px; width: 11px;"></span>
                                                    &nbsp; @item.ExpTitle
                                                </td>
                                                <td>@item.ExpValue.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))</td>
                                            </tr>
                                        }
                                    </tbody>                                    
                                </table>
                            </div>
                            <h3>Totale uscite: @ViewBag.TotOut.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        
        <div class="card shadow p-3 border-light mb-3" style="margin: 0 auto;">
            <div class="card-header">Totale flusso attuale</div>
            <div class="card-body">
                testo
            </div>
        </div>
    </div>
</div>


   



            @section scripts {
                <script>
                    function EditBank(ClientID) {
                        var url = "/PersonalFinance/Bank_Edit/" + ClientID;
                        $("#ModalBodyDivbe").load(url, function () {
                            $("#editbank").modal("show");
                        })
                    }
                    function DeleteBank(ClientID) {
                        var url = "/PersonalFinance/Bank_Delete/" + ClientID;
                        $("#ModalBodyDivbd").load(url, function () {
                            $("#deletebank").modal("show");
                        })
                    }
                    $(document).ready(function () {
                        $('[data-toggle="tooltip"]').tooltip({ 'placement': 'right' });
                    });
                </script>
            }
