@model PersonalFinanceFrontEnd.Models.Credit

<form asp-action="Credit_Details" style="margin: 0 auto;">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal-body">
        <input type="hidden" asp-for="ID" />
        <div class="form-row">
            <div class="form-group col-md-12">
                Di seguito i dettagli del credito selezionato:
                <br /><br />
                <table class="table table-hover">
                    <tbody>
                        <tr class="table-active">
                            <th scope="row">ID:</th>
                            <td>@Model.ID</td>
                        </tr>
                        <tr class="table-active">
                            <th scope="row">Codice Credito:</th>
                            <td>@Model.CredCode</td>
                        </tr>
                        <tr class="table-active">
                            <th scope="row">Titolo:</th>
                            <td>@Model.CredTitle</td>
                        </tr>
                        <tr class="table-active">
                            <th scope="row">Debitore:</th>
                            <td>@Model.DebName</td>
                        </tr>
                        <tr class="table-active">
                            <th scope="row">Importo:</th>
                            <td>@Model.CredValue.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))</td>
                        </tr>
                        <tr class="table-active">
                            <th scope="row">Data inserimento:</th>
                            <td>@Model.CredDateTime.ToString("dd/MM/yyyy")</td>
                        </tr>
                        <tr class="table-active">
                            <th scope="row">Note:</th>
                            <td>@Model.CredNote</td>
                        </tr>
                    </tbody>
                </table>
                <br />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
    </div>
</form>