@model ViewModel

<h2>Crediti e Debiti</h2>
<br />
<br />
<div class="row" style="margin: 0 auto;">
    <div class="col-md-5">
        <div class="row">
            <h3>Crediti</h3>
        </div>
        <div class="card shadow p-3 border-success mb-3">
            <div class="card-header">
                <div class="row">

                    <div class="col-sm-9"></div>
                    <div class="col-sm-3">
                        <a class="btn btn-primary btn-sm" asp-action="Credits" style="margin-left: 40px; background-color: #2574A9">Aggiorna</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive-xl">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Codice Credito</th>
                                <th scope="col">Titolo</th>
                                <th scope="col">Debitore</th>
                                <th scope="col">Importo</th>
                                <th scope="col">Data inizio</th>
                                <th scope="col">Note</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Credits)
                            {
                                <tr>
                                    <td>@item.CredCode</td>
                                    <td>@item.CredTitle</td>
                                    <td>@item.DebName</td>
                                    <td>@item.CredValue.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))</td>
                                    <td>@item.CredDateTime.ToString("dd/MM/yyyy")</td>
                                    <td>
                                        @if (@item.CredNote != null && @item.CredNote.Length > 5 )
                                        {
                                            @(item.CredNote.Substring(0, 5) + " ...")
                                        }
                                        else
                                        {@item.CredNote}
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row">
            <h3>Debiti</h3>
            <div class="card shadow p-3 border-danger mb-3">
                <div class="card-header">
                    <div class="row">

                        <div class="col-sm-9"></div>
                        <div class="col-sm-3">
                            <a class="btn btn-primary btn-sm" asp-action="Debits" style="margin-left:40px; background-color: #2574A9">Aggiorna</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive-xl">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Codice Debito</th>
                                    <th scope="col">Titolo</th>
                                    <th scope="col">Creditore</th>
                                    <th scope="col">Importo</th>
                                    <th scope="col">Data scadenza</th>
                                    <th scope="col">Note</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Debits)
                                {
                                    <tr>
                                        <td>@item.DebCode</td>
                                        <td>@item.DebTitle</td>
                                        <td>@item.CredName</td>
                                        <td>@item.DebValue.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))</td>
                                        <td>@item.DebDateTime.ToString("dd/MM/yyyy")</td>
                                        <td>
                                            @if (@item.DebNote != null && @item.DebNote.Length > 5 )
                                            {
                                                @(item.DebNote.Substring(0, 5) + " ...")
                                            }
                                            else
                                            {@item.DebNote}
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto;">
            <div class="card-header">CREDITI/DEBITI</div>
            <div class="card-body">
                <h4 class="card-title">Come funziona?</h4>
                <p class="card-text" align="justify">
                    Nelle tabelle a lato sono elencati i crediti e debiti da ricevere o da restituire.<br />
                    Troverai i tuoi prestiti, rimborsi e pagamenti rateizzati come i finanziamenti.
                </p>
            </div>
        </div>
    </div>
</div>