@model ViewModel
<h3>Crediti</h3>
<br />
<!-- Modal ADD-->
<div class="modal fade" id="newitem" tabindex="-1" role="dialog" aria-labelledby="newitemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuovo credito</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="form-row">
                <partial name="Credit_Add" model="Model.Credit" />
            </div>
        </div>
    </div>
</div>
<br />
<br />
<!-- Modal EDIT-->
<div class="modal fade" id="edititem" tabindex="-1" role="dialog" aria-labelledby="newitemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="ModalBodyDiv">
                <div class="form-row">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal DELETE-->
<div class="modal fade" id="deleteitem" tabindex="-1" role="dialog" aria-labelledby="newitemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="ModalBodyDivDel">
                <div class="form-row">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal DETAILS-->
<div class="modal fade" id="detailsitem" tabindex="-1" role="dialog" aria-labelledby="newitemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="ModalBodyDivDet">
                <div class="form-row">
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.state == 1)
{
    <div class="alert alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <p><strong>Completato!</strong> Credito rimosso correttamente.</p>
    </div>
}
else if (Model.state == 2)
{
    <div class="alert alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <p><strong>Completato!</strong> Credito modificato correttamente.</p>
    </div>
}
else if (Model.state == 3)
{
    <div class="alert alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <p><strong>Completato!</strong> Credito creato correttamente.</p>
    </div>
}
<div class="card shadow p-3 border-success mb-3" style="margin: 0 auto;">
    <div class="card-header">
        <button type="button" class="btn btn-sm" style="background-color: #2574A9" data-toggle="modal" data-target="#newitem" data-whatever="getbootstrap">Aggiungi credito</button>
    </div>
    <div class="card-body">
        <div class="card-body">
            <div class="table-responsive-xl">
                <table class="table table-striped table-hover" id="testtable">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Codice Credito</th>
                            <th scope="col">Titolo</th>
                            <th scope="col">Debitore</th>
                            <th scope="col">Importo</th>
                            <th scope="col">Data inizio</th>
                            <th scope="col">Note</th>
                            <th scope="col">Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Credits)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.CredCode</td>
                                <td>@item.CredTitle</td>
                                <td>@item.DebName</td>
                                <td>@item.CredValue</td>
                                <td>@item.CredDateTime.ToString("dd/MM/yyyy")</td>
                                <td>@item.CredNote</td>
                                <td style='white-space: nowrap'>
                                    <span class="btn btn-outline-primary material-icons md-24 orange600" type="button" onclick="Details(@item.ID)" style="display: inline-flex; vertical-align: text-bottom; font-size: 18px" data-toggle="tooltip" title="Dettagli">info</span>
                                    <span class="btn btn-outline-secondary material-icons md-24 orange600" type="button" onclick="Edit(@item.ID)" style="display: inline-flex; vertical-align: text-bottom; font-size: 18px" data-toggle="tooltip" title="Modifica">edit</span>
                                    <span class="btn btn-outline-danger material-icons md-24 orange600" type="button" onclick="Delete(@item.ID)" style="display: inline-flex; vertical-align: text-bottom; font-size: 18px" data-toggle="tooltip" title="Elimina">delete</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>



@section scripts {
    <script>
        function Edit(ClientID) {
            var url = "/PersonalFinance/Credit_Edit/" + ClientID;
            $("#ModalBodyDiv").load(url, function () {
                $("#edititem").modal("show");
            })
        }
        function Delete(ClientID) {
            var url = "/PersonalFinance/Credit_Delete/" + ClientID;
            $("#ModalBodyDivDel").load(url, function () {
                $("#deleteitem").modal("show");
            })
        }
        function Details(ClientID) {
            var url = "/PersonalFinance/Credit_Details/" + ClientID;
            $("#ModalBodyDivDet").load(url, function () {
                $("#detailsitem").modal("show");
            })
        }
    </script>
}
