@model PersonalFinanceFrontEnd.Models.Debit

<form asp-action="Debit_Details" style="margin: 0 auto;">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal-body">
        <input type="hidden" asp-for="ID" />
        <div class="form-row">
            <div class="form-group col-md-12">
                Di seguito i dettagli del debito selezionato:
                <br /><br />
                <table class="table table-hover">
                    <tbody>
                        <tr class="table-active">
                            <th scope="row">Codice Debito:</th>
                            <td>@Model.DebCode</td>
                        </tr>
                        <tr class="table-active">
                            <th scope="row">Titolo:</th>
                            <td>@Model.DebTitle</td>
                        </tr>
                        <tr class="table-active">
                            <th scope="row">Creditore:</th>
                            <td>@Model.CredName</td>
                        </tr>
                        <tr class="table-active">
                            <th scope="row">Importo:</th>
                            <td>@Model.DebValue.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))</td>
                        </tr>
                        <tr class="table-active">
                            <th scope="row">Data scadenza:</th>
                            <td>@Model.DebDateTime.ToString("dd/MM/yyyy")</td>
                        </tr>
                        <tr class="table-active">
                            <th scope="row">Data inserimento:</th>
                            <td>@Model.DebInsDate.ToString("dd/MM/yyyy")</td>
                        </tr>
                        @if(Model.Multiplier != 0)
                        {
                            <tr class="table-active">
                                <th scope="row">N° rate:</th>
                                <td>@Model.RtNum</td>
                            </tr>
                            <tr class="table-active">
                                <th scope="row">N° rate pagate:</th>
                                <td>@Model.RtPaid</td>
                            </tr>
                            <tr class="table-active">
                                <th scope="row">N° rate residue:</th>
                                <td>@Math.Round(Model.RtNum - Model.RtPaid, 2)</td>
                            </tr>
                            <tr class="table-active">
                                <th scope="row">Importo singola rata:</th>
                                <td>@((Model.DebValue/Model.RtNum).ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es")))</td>
                            </tr>
                            <tr class="table-active">
                                <th scope="row">Importo rimanente:</th>
                                <td>@Model.RemainToPay.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))</td>
                            </tr>                            
                        }
                        <tr class="table-active">
                            <th scope="row">Note:</th>
                            <td>@Model.DebNote</td>
                        </tr>
                    </tbody>
                </table>
                <br />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
    </div>
</form>