@model Expirations

<div class="row" style="margin: 0 auto;">
    <div class="col-md-12">
        <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto; text-align: end; background: url(https://i.postimg.cc/853DKzC6/prova-barra-01.png); background-size: cover;">
            <p style="font-size:xx-large; margin-bottom: auto;">Scadenze - Calendario</p>
        </div>
    </div>
</div>
<br />

<!-- Modal DELETE-->
<div class="modal fade" id="deleteitem" tabindex="-1" role="dialog" aria-labelledby="newitemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Elimina scadenza</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="ModalBodyDivDel">
                <div class="form-row">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal ADD-->
<div class="row" style="margin: 0 auto;">
    <div class="col-md-4">
        <div class="card shadow p-3 border-light mb-3" style="margin: 0 auto;">
            <div class="card-header">NUOVA SCADENZA/ATTESO</div>
            <div class="card-body">
                <partial name="Expiration_Add" model="Model.Expiration" />
            </div>
        </div>
        <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto;">
            <div class="card-header">Come funziona?</div>
            <div class="card-body">
                <h4 class="card-title">Calendario scadenze</h4>
                <p class="card-text" style="text-align:justify">Nel calendario a blocchi a lato troverai le scadenze, raggruppate per mese.<br />Vengono aggiunti in automatico i crediti, i debiti e i movimenti fissi mensili. L'eliminazione delle scadenze dal calendario non ha alcun effetto su di questi.<br />Al contrario, quando inserirai una transazione associata ad uno di essi, la scadenza sarà eliminata in automatico dal calendario.<br />Hai la possibilità di inserire altre scadenze personalizzate, che non rientrano in una delle tre categorie sopra citate.</p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        @using (Html.BeginForm("Expirations", "PersonalFinance", FormMethod.Get))
        {
            <div class="card shadow p-3 border-light mb-3" style="margin: 0 auto;">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-9">
                            CALENDARIO
                        </div>
                        <div class="col-sm-1" style="text-align:right;">
                            <label>ANNO:</label>
                        </div>
                        <div class="col-sm-2">
                            @Html.DropDownList("selectedYear", (List<SelectListItem>)Model.ItemlistYear, DateTime.Now.Year.ToString(), new { onchange = "form.submit();", @class = "dropdown-item-inline" })
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="cards" style="padding-top:5px; gap: 9px; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));">
                        @foreach (var month in ViewBag.UniqueMonthNames)
                        {
                            <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto;">
                                <div class="card-header"><h5>@month</h5></div>
                                <div class="card-body">
                                    @foreach (var exp in Model.ExpMonth)
                                    {
                                        if (exp.Month == month)
                                        {
                                            <div class="cards" style="padding-top: 10px; gap: 9px; display: flex;">
                                                <div class="card shadow p-3 md-3" style="margin: 0 auto; border-color: @exp.ExpItem.ColorLabel; background-color: #2d3138">
                                                    <div class="card-title">
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                                <small><span class="material-icons md-24" style="color:@exp.ExpItem.ColorLabel; display: inline-flex; vertical-align: text-bottom; font-size: 18px" data-toggle="tooltip" title="@exp.ExpItem.ExpDescription">info</span>&nbsp;<b>@exp.ExpItem.ExpTitle</b></small>
                                                            </div>
                                                            <div class="col-md-3" style="text-align:right">
                                                                <span class="material-icons md-24" type="button" onclick="Delete(@exp.ExpItem.ID)" style="color:@exp.ExpItem.ColorLabel; display: inline-flex; vertical-align: text-bottom; font-size: 18px">delete</span>

                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="card-text">


                                                        <small>Scadenza: @exp.ExpItem.ExpDateTime.ToString("dd/MM/yyyy")</small><br />
                                                        <small>Importo: @exp.ExpItem.ExpValue.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))</small>

                                                    </div>


                                                </div>
                                            </div>
                                        }
                                    }



                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>}
        </div>
</div>


@section scripts {
    <script>
        function Delete(ClientID) {
            var url = "/PersonalFinance/Expiration_Delete/" + ClientID;
            $("#ModalBodyDivDel").load(url, function () {
                $("#deleteitem").modal("show");
            })
        }
    </script>
}

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({ 'placement': 'right' });
    });
</script>