@model ViewModel


<div>
    <h1 class="helloWorld">Personal Finance App - Dashboard</h1>
</div>
<br />
<br />
<br />

<div class="row" style="margin: 0 auto;">
    <div class="col-md-4">
        <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto;">
            <div class="card-header">TOTALE TRANSAZIONI</div>
            <div class="card-body">
                <h4 class="card-title">Saldo attuale: @Model.TransactionSum €</h4>
                <p class="card-text">Nella tabella a lato vengono riportate le entrate/uscite fisse mensili.<br /></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto;">
            <div class="card-header">TOTALE CREDITI</div>
            <div class="card-body">
                <h4 class="card-title">Totale crediti: @Model.CreditSum €</h4>
                <p class="card-text">Nella tabella a lato vengono riportate le entrate/uscite fisse mensili.<br /></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto;">
            <div class="card-header">TOTALE DEBITI</div>
            <div class="card-body">
                <h4 class="card-title">Totale debiti: @Model.DebitSum €</h4>
                <p class="card-text">Nella tabella a lato vengono riportate le entrate/uscite fisse mensili.<br /></p>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin: 0 auto;">
    <div class="col-md-6">
        <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto;">
            <div class="card-header">TOTALE + CREDITI - DEBITI</div>
            <div class="card-body">
                <h4 class="card-title">Saldo totale: @Model.TotWithDebits €</h4>
                <p class="card-text">Nella tabella a lato vengono riportate le entrate/uscite fisse mensili.<br /></p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto;">
            <div class="card-header">TOTALE + CREDITI</div>
            <div class="card-body">
                <h4 class="card-title">Saldo totale: @Model.TotNoDebits €</h4>
                <p class="card-text">Nella tabella a lato vengono riportate le entrate/uscite fisse mensili.<br /></p>
            </div>
        </div>
    </div>
</div>
