@model ViewModel
@using System.Globalization
<h2>Movimenti ricorrenti e noti</h2>
<br />
<!-- Modal ADD-->

<div class="modal fade" id="newitem" tabindex="-1" role="dialog" aria-labelledby="newitemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuovo movimento</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="form-row">
                <partial name="KnownMovement_Add" model="Model.KnownMovement" />
            </div>
        </div>
    </div>
</div>
<br />
<br />
<!-- Modal EDIT-->
<div class="modal fade" id="edititem" tabindex="-1" role="dialog" aria-labelledby="newitemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifica movimento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="ModalBodyDiv">
                <div class="form-row">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal DELETE-->
<div class="modal fade" id="deleteitem" tabindex="-1" role="dialog" aria-labelledby="newitemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rimuovi movimento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="ModalBodyDivDel">
                <div class="form-row">
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.state == 1)
{
    <div class="alert alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <p><strong>Completato!</strong> Transazione rimossa correttamente.</p>
    </div>
}
else if (Model.state == 2)
{
    <div class="alert alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <p><strong>Completato!</strong> Transazione modificata correttamente.</p>
    </div>
}
else if (Model.state == 3)
{
    <div class="alert alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <p><strong>Completato!</strong> Transazione creata correttamente.</p>
    </div>
}

<div class="row" style="margin: 0 auto;">
    <div class="col-md-9">
        <div class="card shadow p-3 border-warning mb-3" style="margin: 0 auto;">
            <div class="card-header"><button type="button" class="btn btn-sm" style="background-color: #2574A9" data-toggle="modal" data-target="#newitem" data-whatever="getbootstrap">Aggiungi movimento</button></div>
            <div class="card-body">
                <div class="table-responsive-xl">
                    <table class="table table-striped table-hover">

                        <thead>
                            <tr>
                                <th scope="col">Tipo</th>
                                <th scope="col">Titolo</th>
                                <th scope="col">Importo</th>
                                <th scope="col">Note</th>
                                <th scope="col">Azioni</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.KnownMovements)
                            {
                                
                                <tr>
                                    <td>@if (item.KMType == "Entrata")
                                    {<span class="badge rounded-pill bg-success">Entrata</span>} @if (item.KMType == "Uscita")
                                    {<span class="badge rounded-pill bg-danger">Uscita</span>}</td>
                                    <td>@item.KMTitle</td>
                                    <td>@item.KMValue.ToString("c", System.Globalization.CultureInfo.GetCultureInfo("es-es"))</td>
                                    <td>@item.KMNote</td>
                                    <td style='white-space: nowrap'>
                                        <span class="btn btn-outline-secondary material-icons md-24 orange600" type="button" onclick="Edit(@item.ID)" style="display: inline-flex; vertical-align: text-bottom; font-size: 18px" data-toggle="tooltip" title="Modifica">edit</span>
                                        <span class="btn btn-outline-danger material-icons md-24 orange600" type="button" onclick="Delete(@item.ID)" style="display: inline-flex; vertical-align: text-bottom; font-size: 18px" data-toggle="tooltip" title="Elimina">delete</span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto;">
            <div class="card-header">In/Out Fissi</div>
            <div class="card-body">
                <h4 class="card-title">PREVISIONI MOVIMENTI</h4>
                <p class="card-text">Nella tabella a lato vengono riportate le entrate/uscite fisse mensili.<br />La somma verrà utilizzata nella sezione dedicata alle previsioni per stimare un andamento futuro del proprio wallet.</p>
            </div>
        </div>
    </div>
</div>




@section scripts {
    <script>
        function Edit(ClientID) {
            var url = "/PersonalFinance/KnownMovement_Edit/" + ClientID;
            $("#ModalBodyDiv").load(url, function () {
                $("#edititem").modal("show");
            })
        }
        function Delete(ClientID) {
            var url = "/PersonalFinance/KnownMovement_Delete/" + ClientID;
            $("#ModalBodyDivDel").load(url, function () {
                $("#deleteitem").modal("show");
            })
        }
        function Details(ClientID) {
            var url = "/PersonalFinance/KnownMovement_Details/" + ClientID;
            $("#ModalBodyDivDet").load(url, function () {
                $("#detailsitem").modal("show");
            })
        }
    </script>
}




























