@model ViewModel

<h2>Temp-Detection Records</h2>

@using (Html.BeginForm("Record", "TempDetections", FormMethod.Get))
{
    <hr />
    <dl class="row">
        <dt class="col-sm-6">Maximum of Max-Temperature in all cities (global):</dt>
        <dd class="col-sm-6">@Model.TempStatistics.GlobalMaxTemp°C</dd>
    </dl>

    <dl class="row">
        <dt class="col-sm-6">Minimum of Min-Temperature in all cities (global):</dt>
        <dd class="col-sm-6">@Model.TempStatistics.GlobalMinTemp°C</dd>
    </dl>

    <div class="row">
        <div class="col-sm-4">
            <b>Min-Max Temperature of selected city:</b>
        </div>
        <div class="col-sm-4">
            @Html.DropDownList("selectedCity",
         new SelectList(ViewBag.uniqueCity, "Value", "Text", "ViewBag.uniqueCity"),
         "Select a city", new { onchange = "form.submit();" })
        </div>
        @if (Model.TempStatistics.SelCity != null)
        {
            <div class="col-sm-4">
                <b>Max Temp: </b>@Model.TempStatistics.SelCity.TempData.MaxTemp°C
                <p>
                    <b>Min Temp: </b>@Model.TempStatistics.SelCity.TempData.MinTemp°C
                </p>
            </div>
        }
    </div>
    <hr />
    <br />
    <div class="row">
        <div class="col-sm-4">
            <b>Maximum of Max-Temperature per city:</b>
            <table class="table">
                <thead>
                    <tr class="table-danger">
                        <th scope="col">City</th>
                        <th scope="col">Max °C</th>
                        <th scope="col">Max °F</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TempStatistics.City)
                    {
                        <tr>
                            <td>@item.AreaName</td>
                            <td>@item.TempData.MaxTemp</td>
                            <td>@Model.TempStatistics.ToFarConvert(item.TempData.MaxTemp)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <b>Maximum of Max-Temperature per province:</b>
            <table class="table">
                <thead>
                    <tr class="table-danger">
                        <th scope="col">Province</th>
                        <th scope="col">Max °C</th>
                        <th scope="col">Max °F</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TempStatistics.Province)
                    {
                        <tr>
                            <td>@item.AreaName</td>
                            <td>@item.TempData.MaxTemp</td>
                            <td>@Model.TempStatistics.ToFarConvert(item.TempData.MaxTemp)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <b>Maximum of Max-Temperature per region:</b>
            <table class="table">
                <thead>
                    <tr class="table-danger">
                        <th scope="col">Region</th>
                        <th scope="col">Max °C</th>
                        <th scope="col">Max °F</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TempStatistics.Region)
                    {
                    <tr>
                        <td>@item.AreaName</td>
                        <td>@item.TempData.MaxTemp</td>
                        <td>@Model.TempStatistics.ToFarConvert(item.TempData.MaxTemp)</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4">
            <b>Minimum of Min-Temperature per city:</b>
            <table class="table">
                <thead>
                    <tr class="table-info">
                        <th scope="col">City</th>
                        <th scope="col">Min °C</th>
                        <th scope="col">Min °F</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TempStatistics.City)
                    {
                    <tr>
                        <td>@item.AreaName</td>
                        <td>@item.TempData.MinTemp</td>
                        <td>@Model.TempStatistics.ToFarConvert(item.TempData.MinTemp)</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <b>Minimum of Min-Temperature per province:</b>
            <table class="table">
                <thead>
                    <tr class="table-info">
                        <th scope="col">Province</th>
                        <th scope="col">Min °C</th>
                        <th scope="col">Min °F</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TempStatistics.Province)
                    {
                    <tr>
                        <td>@item.AreaName</td>
                        <td>@item.TempData.MinTemp</td>
                        <td>@Model.TempStatistics.ToFarConvert(item.TempData.MinTemp)</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <b>Minimum of Min-Temperature per region:</b>
            <table class="table">
                <thead>
                    <tr class="table-info">
                        <th scope="col">Region</th>
                        <th scope="col">Min °C</th>
                        <th scope="col">Min °F</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TempStatistics.Region)
                    {
                    <tr>
                        <td>@item.AreaName</td>
                        <td>@item.TempData.MinTemp</td>
                        <td>@Model.TempStatistics.ToFarConvert(item.TempData.MinTemp)</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        
    </div>
}
