@model PersonalFinanceFrontEnd.Models.Transaction



<div class="modal-body">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#treasy" style="padding: 0.5rem 1.2rem"><span class="material-icons">receipt_long</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#scadenze" style="padding: 0.5rem 1.2rem"><span class="material-icons">event_available</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#rate" style="padding: 0.5rem 1.2rem"><span class="material-icons">toll</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#creturn" style="padding: 0.5rem 1.2rem"><span class="material-icons">add_circle_outline</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#dpay" style="padding: 0.5rem 1.2rem"><span class="material-icons">remove_circle_outline</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#ncred" style="padding: 0.5rem 1.2rem"><span class="material-icons">bookmark_add</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#ndeb" style="padding: 0.5rem 1.2rem"><span class="material-icons">bookmark_remove</span></a>
        </li>
    </ul>
                                @{

                                var banks = (IEnumerable<SelectListItem>)TempData["Banks"];
                            }
    <br />
    <div id="myTabContent" class="tab-content">

        <div class="tab-pane fade active show" id="treasy">
            <form asp-action="Transaction_Add" style="margin: 0 auto;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-12">
                    
                    <div class="row" style="align-self: center; border:solid; border-color: #2d3139; border-width: thin; margin-bottom: -14px; padding-bottom: 12px; padding-top: 12px;">                      
                            <div class="col-2"><label for="recipient-name" class="col-form-label" asp-for="TrsCode">Conto <font color="red">*</font></label></div>
                            <div class="col-6">

@*                            @{

                                var banks = (IEnumerable<SelectListItem>)TempData["Banks"];
                            }*@
                            @Html.DropDownList("TrsBank", (List<SelectListItem>)banks, new { @class = "form-control", type = "button", style = "background-color: #444", placeholder = "Banca"})

                            </div>
                        <div class="col-1">
                            <label for="recipient-name" class="col-form-label">Tipo</label>
                        </div>
                        <div class="col-3">
                            <label class="switch" style="padding-top: 23px; margin-top: 6px;">
                                <input type="checkbox" id="togBtn" asp-for="Type">
                                <div class="slider round">
                                    <span class="on">Entrata</span>
                                    <span class="off">Uscita</span>
                                </div>
                            </label>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-8">
                            <div class="col-md-12">
                                <label for="recipient-name" class="col-form-label" asp-for="TrsTitle">Titolo <font color="red">*</font></label>
                            <input type="text" class="form-control" asp-for="TrsTitle" style="background-color: #444" data-val="true" data-val-required="Titolo è necessario.">
                            <span asp-validation-for="TrsTitle" class="text-danger"></span>
                        </div>
                            <div class="row">
                        <div class="col-md-6">
                            <label for="recipient-name" class="col-form-label" asp-for="Input_value">Importo <font color="red">*</font></label>
                            <input type="number" step="0.01" min="0" class="form-control" asp-for="Input_value" style="background-color: #444" value="" placeholder="€" data-val="true" data-val-required="Importo è necessario.">
                            <span asp-validation-for="Input_value" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label for="recipient-name" class="col-form-label" asp-for="TrsDateTime">Data inserimento <font color="red">*</font></label>
                            <input type="date" class="form-control" id="theDate" asp-for="TrsDateTime" style="background-color: #444" value="gg/mm/YYY" data-val="true" data-val-required="Data inserimento è necessario.">
                            <span asp-validation-for="TrsDateTime" class="text-danger"></span>
                                </div>
                            </div>
                        </div><div class="col-4" style="align-self: center; border:solid; border-color: #2d3139; border-width: thin; padding-bottom: 12px;">
                            <div class="col-md-12">
                                <label for="recipient-name" class="col-form-label">Categoria <font color="red">*</font>&nbsp;&nbsp;<span class="material-icons md-24 orange600" style="display: inline-flex; vertical-align: text-bottom; font-size: 18px" data-toggle="tooltip" title="Seleziona una categoria esistente oppure creane una nuova nel campo sotto.">info</span></label>
                            <input type="text" class="form-control" asp-for="NewTrsCode" style="background-color: #444" value="" placeholder="Nuova categoria">
                            <span asp-validation-for="NewTrsCode" class="text-danger"></span>
                            </div>
                            <div class="row">
                            <div class="col-md-12">
                                <label for="recipient-name" class="col-form-label" asp-for="TrsCode">Seleziona esistente</label>
                                @{
                                    var codes = (IEnumerable<SelectListItem>)TempData["Codes"];
                                }
                                @Html.DropDownList("TrsCode", (List<SelectListItem>)codes, "-- Nessuna --", new { @class = "form-control", type = "button", style = "background-color: #444", placeholder = "Nuova categoria"})
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-md-12">
                            <label for="message-text" class="col-form-label" asp-for="TrsNote">Note:</label>
                            <textarea class="form-control" id="message-text" asp-for="TrsNote" style="background-color: #444"></textarea>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" asp-for="DebCredChoice" style="background-color: #444">
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" style="background-color: #2574A9">Aggiungi</button>
                    </div>
                </div>
            </form>    
        </div>
        <div class="tab-pane fade" id="scadenze">
            <form asp-action="Transaction_Add" style="margin: 0 auto;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h5>Transazione mensile</h5><br />
                <div class="row" style="align-self: center; border:solid; border-color: #2d3139; border-width: thin; margin-bottom: -14px; padding-bottom: 12px; padding-top: 12px;">
                    <div class="col-2" style="margin-left: 20px;">
                        <label for="recipient-name" class="col-form-label" asp-for="TrsCode"> Conto <font color="red">*</font></label>
                    </div>
                    <div class="col-9">
                        @Html.DropDownList("TrsBank", (List<SelectListItem>)banks, new { @class = "form-control", type = "button", style = "background-color: #444", placeholder = "Banca"})
                    </div>
                </div>
                <br />
                <p>Seleziona la transazione da inserire:</p>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Codice transazione</th>
                            <th scope="col">Descrizione</th>
                            <th scope="col">Importo</th>
                        </tr>
                    </thead>
                    <tbody>                                                    
                        @{if(ViewBag.MonthExpirations != null)
                        {
                            @foreach (var item in ViewBag.MonthExpirations)
                            {
                                <tr>  
                                    <td>
                                        <input asp-for="DebCredChoice" type="radio" value="@item.ExpTitle" /><span>&nbsp;&nbsp;@item.ExpTitle</span>
                                        <br />
                                    </td>
                                    <td>
                                        @item.ExpDescription
                                    </td>
                                    <td>
                                        @(item.ExpValue.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es")))
                                    </td> 
                                </tr>
                            }                          
                        }}            
                    </tbody>
                </table>
                <br /><br />
                <input type="hidden" class="form-control" asp-for="DebCredInValue" style="background-color: #444">
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" style="background-color: #2574A9">Invia</button>
                </div> 
            </form>    
        </div>
        <div class="tab-pane fade" id="rate">
            <form asp-action="Transaction_Add" style="margin: 0 auto;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h5>Pagamento rata debito</h5><br />
                <div class="row" style="align-self: center; border:solid; border-color: #2d3139; border-width: thin; margin-bottom: -14px; padding-bottom: 12px; padding-top: 12px;">
                    <div class="col-2" style="margin-left: 20px;">
                        <label for="recipient-name" class="col-form-label" asp-for="TrsCode"> Conto <font color="red">*</font></label>
                    </div>
                    <div class="col-9">
                        @Html.DropDownList("TrsBank", (List<SelectListItem>)banks, new { @class = "form-control", type = "button", style = "background-color: #444", placeholder = "Banca"})
                    </div>
                </div>
                <br />
                <p>Seleziona il debito di cui pagare la rata:</p>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Codice debito</th>
                            <th scope="col">Titolo</th>
                            <th scope="col">Importo</th>
                        </tr>
                    </thead>
                    <tbody>  
                                                  
                            @{
                                if(ViewBag.DebitListRat != null)
                                {
                                            @foreach (var item in ViewBag.DebitListRat)
                                    {
            <tr>  
                                                <td>
                                                <input asp-for="DebCredChoice" type="radio" value="@item.DebCode" required/><span>&nbsp;&nbsp;@item.DebCode</span><br />
                                           </td>
                                                                                   <td>
                                                <span>&nbsp;&nbsp;@item.DebTitle</span>
                                           </td>
                                           <td>@((item.DebValue/item.RtNum).ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es")))</td> 
                                           </tr>
                                    }                          
                                }
                            }            
                    </tbody>
                </table>
                <br /><br />
                <input type="hidden" class="form-control" asp-for="DebCredInValue" style="background-color: #444">
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" style="background-color: #2574A9">Invia</button>
                </div> 
            </form>    
        </div>
        <div class="tab-pane fade" id="dpay">
            <form asp-action="Transaction_Add" style="margin: 0 auto;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-5">
                        <h5>Restituzione prestito</h5>
                    </div>
                    <div class="col-md-7" style="text-align: end">
                        <i>(Ti hanno prestato, stai restituendo...)</i>
                    </div>
                </div>
                <br />
                <div class="row" style="align-self: center; border:solid; border-color: #2d3139; border-width: thin; margin-bottom: -14px; padding-bottom: 12px; padding-top: 12px;">
                    <div class="col-2" style="margin-left: 20px;">
                        <label for="recipient-name" class="col-form-label" asp-for="TrsCode"> Conto <font color="red">*</font></label>
                    </div>
                    <div class="col-9">
                        @Html.DropDownList("TrsBank", (List<SelectListItem>)banks, new { @class = "form-control", type = "button", style = "background-color: #444", placeholder = "Banca"})
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-8">
                        <label for="recipient-name" class="col-form-label" asp-for="DebCredChoice">Seleziona il debito da pagare:</label> 
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Codice debito</th>
                                    <th scope="col">Importo</th>
                                </tr>
                            </thead>
                            <tbody>                        
                            @{
                                if(ViewBag.DebitList != null)
                                {
                                            @foreach (var item in ViewBag.DebitList)
                                    {
                                                <tr>
                                                    <td>
                                                       <input asp-for="DebCredChoice" type="radio" value="@item.DebCode" required />&nbsp;&nbsp;@item.DebCode
                                                    </td>
                                                    <td>                                    
                                                        @item.RemainToPay.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))
                                                    </td>
                                                </tr>
                                     }                          
                                }
                            }                                    
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4" style="align-self: center; border:solid; border-color: #2d3139; border-width: thin;">
                        <br />
                        <label for="recipient-name" class="col-form-label" asp-for="DebCredInValue">Importo <font color="red">*</font>&nbsp;&nbsp;<span class="material-icons md-24 orange600" style="display: inline-flex; vertical-align: text-bottom; font-size: 15px" data-toggle="tooltip" title="Inserire l'importo effettivo, anche se minore del prestito.">info</span></label>
                        <input type="number" step="0.01" min="0" class="form-control" asp-for="DebCredInValue" style="background-color: #444" value="" placeholder="€" required><br /><br />
                        <span asp-validation-for="DebCredInValue" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" style="background-color: #2574A9">Invia</button>
                </div>
            </form>    
        </div>        
        <div class="tab-pane fade" id="ncred">
            <form asp-action="Transaction_Add" style="margin: 0 auto;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-5">
                        <h5>Nuovo credito</h5>
                    </div>
                    <div class="col-md-7" style="text-align: end">
                        <i>(Stai prestando...)</i>
                    </div>
                </div>
                <br />
                <div class="row" style="align-self: center; border:solid; border-color: #2d3139; border-width: thin; margin-bottom: -14px; padding-bottom: 12px; padding-top: 12px;">
                    <div class="col-2" style="margin-left: 20px;">
                        <label for="recipient-name" class="col-form-label" asp-for="TrsCode"> Conto <font color="red">*</font></label>
                    </div>
                    <div class="col-9">
                        @Html.DropDownList("TrsBank", (List<SelectListItem>)banks, new { @class = "form-control", type = "button", style = "background-color: #444", placeholder = "Banca"})
                    </div>
                </div>
                <br />
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="recipient-name" class="col-form-label" asp-for="TrsTitle">Titolo <font color="red">*</font></label>
                            <input type="text" class="form-control" asp-for="TrsTitle" style="background-color: #444" required>
                            <span asp-validation-for="TrsTitle" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label for="recipient-name" class="col-form-label" asp-for="TrsDateTimeExp">Data rientro <font color="red">*</font></label>
                            <input type="date" class="form-control" id="theDate" asp-for="TrsDateTimeExp" style="background-color: #444" value="gg/mm/YYY" required>
                            <span asp-validation-for="TrsDateTimeExp" class="text-danger"></span>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-6">
                            <label for="recipient-name" class="col-form-label" asp-for="Input_value">Importo <font color="red">*</font></label>
                            <input type="number" step="0.01" class="form-control" asp-for="Input_value" style="background-color: #444" value="" placeholder="€" required>
                            <span asp-validation-for="Input_value" class="text-danger"></span>
                        </div><div class="col-md-6">
                            <label for="recipient-name" class="col-form-label" asp-for="DCName">Debitore</label>
                            <input type="text" class="form-control" asp-for="DCName" style="background-color: #444">
                            <span asp-validation-for="DCName" class="text-danger"></span>
                    </div></div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="message-text" class="col-form-label" asp-for="TrsNote">Note:</label>
                            <textarea class="form-control" id="message-text" asp-for="TrsNote" style="background-color: #444"></textarea>
                        </div>
                        <input type="hidden" class="form-control" asp-for="DebCredChoice" style="background-color: #444" value="NCred">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" style="background-color: #2574A9">Aggiungi</button>
                    </div>
                </div>
            </form>    
        </div> 
        <div class="tab-pane fade" id="ndeb">
            <form asp-action="Transaction_Add" style="margin: 0 auto;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-5">
                        <h5>Nuovo debito</h5>
                    </div>
                    <div class="col-md-7" style="text-align: end">
                        <i>(Ti stanno prestando...)</i>
                    </div>
                </div>
                <br />
                <div class="row" style="align-self: center; border:solid; border-color: #2d3139; border-width: thin; margin-bottom: -14px; padding-bottom: 12px; padding-top: 12px;">
                    <div class="col-2" style="margin-left: 20px;">
                        <label for="recipient-name" class="col-form-label" asp-for="TrsCode"> Conto <font color="red">*</font></label>
                    </div>
                    <div class="col-9">
                        @Html.DropDownList("TrsBank", (List<SelectListItem>)banks, new { @class = "form-control", type = "button", style = "background-color: #444", placeholder = "Banca"})
                    </div>
                </div>
                <br />
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="recipient-name" class="col-form-label" asp-for="TrsTitle">Titolo <font color="red">*</font></label>
                            <input type="text" class="form-control" asp-for="TrsTitle" style="background-color: #444" required>
                            <span asp-validation-for="TrsTitle" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label for="recipient-name" class="col-form-label" asp-for="TrsDateTime">Data scadenza <font color="red">*</font></label>
                            <input type="date" class="form-control" id="theDate" asp-for="TrsDateTimeExp" style="background-color: #444" value="gg/mm/YYY" required>
                            <span asp-validation-for="TrsDateTimeExp" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                       <div class="col-md-6">
                            <label for="recipient-name" class="col-form-label" asp-for="Input_value">Importo <font color="red">*</font></label>
                            <input type="number" step="0.01" class="form-control" asp-for="Input_value" style="background-color: #444" value="" placeholder="€" required>
                            <span asp-validation-for="Input_value" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                           <label for="recipient-name" class="col-form-label" asp-for="DCName">Creditore</label>
                            <input type="text" class="form-control" asp-for="DCName" style="background-color: #444">
                            <span asp-validation-for="DCName" class="text-danger"></span>
                        </div>
                    </div>
 
                 
                    <div class="row">
                        <div class="col-md-12">
                            <label for="message-text" class="col-form-label" asp-for="TrsNote">Note:</label>
                            <textarea class="form-control" id="message-text" asp-for="TrsNote" style="background-color: #444"></textarea>
                        </div>
                        <input type="hidden" class="form-control" asp-for="DebCredChoice" style="background-color: #444" value="NDeb">
                        <input type="hidden" class="form-control" asp-for="Type" style="background-color: #444" value="true">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" style="background-color: #2574A9">Aggiungi</button>
                    </div>
                </div>
            </form>
        </div> 
        <div class="tab-pane fade" id="creturn">
            <form asp-action="Transaction_Add" style="margin: 0 auto;">
                 <div asp-validation-summary="ModelOnly" class="text-danger"></div>      
                <div class="row">
                    <div class="col-md-5">
                        <h5>Rientro anticipo</h5>
                    </div>
                    <div class="col-md-7" style="text-align: end">
                        <i>(Hai prestato, stanno tornando...)</i>
                    </div>
                </div>
                <br />
                <div class="row" style="align-self: center; border:solid; border-color: #2d3139; border-width: thin; margin-bottom: -14px; padding-bottom: 12px; padding-top: 12px;">
                    <div class="col-2" style="margin-left: 20px;">
                        <label for="recipient-name" class="col-form-label" asp-for="TrsCode"> Conto <font color="red">*</font></label>
                    </div>
                    <div class="col-9">
                        @Html.DropDownList("TrsBank", (List<SelectListItem>)banks, new { @class = "form-control", type = "button", style = "background-color: #444", placeholder = "Banca"})
                    </div>
                </div>
                <br />54
                <div class="row">
                    <div class="col-md-8">
                        <label for="recipient-name" class="col-form-label" asp-for="DebCredChoice">Seleziona il credito rientrato:</label> 
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Codice credito</th>
                                    <th scope="col">Importo</th>
                                </tr>
                            </thead>
                            <tbody>                        
                            @{if(ViewBag.CreditList != null)
                            {
                                        @foreach (var item in ViewBag.CreditList)
                                {
                                            <tr>
                                                <td>
                                                    <input asp-for="DebCredChoice" type="radio" value="@item.CredCode" required/> @item.CredCode
                                                </td>
                                                <td>   
                                                    @item.CredValue.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))
                                                </td>
                                            </tr>
                                }                          
                            }}                        
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4" style="align-self: center; border:solid; border-color: #2d3139; border-width: thin;">
                        <br />
                        <label for="recipient-name" class="col-form-label" asp-for="DebCredInValue">Importo <font color="red">*</font>&nbsp;&nbsp;<span class="material-icons md-24 orange600" style="display: inline-flex; vertical-align: text-bottom; font-size: 15px" data-toggle="tooltip" title="Inserire l'importo effettivo, anche se minore dell'anticipo.">info</span></label>  
                        <input type="number" step="0.01" min="0" class="form-control" asp-for="DebCredInValue" style="background-color: #444" value="" placeholder="€" required>
                        <span asp-validation-for="DebCredInValue" class="text-danger"></span><br /><br />
                </div>  
                </div>  
                <br />

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" style="background-color: #2574A9" OnClientClick="userValid()">Invia</button>
                </div>        
            </form>
        </div>       
    </div>   
</div>




@section scripts {
    <script>
        $(document).ready(function () {
            var date = new Date();

            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();

            if (month < 10) month = "0" + month;
            if (day < 10) day = "0" + day;

            var today = year + "-" + month + "-" + day + "T00:00";
            $("#theDate").attr("value", today);
        });
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({ 'placement': 'right' });
        });        
    </script>
}


