@model ViewModel

<h2>Archivio Transazioni</h2>
<br />
<!-- Modal ADD-->
<div class="modal fade" id="newitem" tabindex="-1" role="dialog" aria-labelledby="newitemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuova transazione</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="form-row">
                <partial name="Transaction_Add" model="Model.Transaction" />
            </div>
        </div>
    </div>
</div>
<br />
<br />
<!-- Modal EDIT-->
<div class="modal fade" id="edititem" tabindex="-1" role="dialog" aria-labelledby="newitemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifica transazione</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="ModalBodyDiv">
                <div class="form-row">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal DELETE-->
<div class="modal fade" id="deleteitem" tabindex="-1" role="dialog" aria-labelledby="newitemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rimuovi transazione</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="ModalBodyDivDel">
                <div class="form-row">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal DETAILS-->
<div class="modal fade" id="detailsitem" tabindex="-1" role="dialog" aria-labelledby="newitemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dettagli</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="ModalBodyDivDet">
                <div class="form-row">
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.state == 1)
{
    <div class="alert alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <p><strong>Completato!</strong> Transazione rimossa correttamente.</p>
    </div>
}
else if (Model.state == 2)
{
    <div class="alert alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <p><strong>Completato!</strong> Transazione modificata correttamente.</p>
    </div>
}
else if (Model.state == 3)
{
    <div class="alert alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <p><strong>Completato!</strong> Transazione creata correttamente.</p>
    </div>
}
<br />



@using (Html.BeginForm("Transactions", "PersonalFinance", FormMethod.Get))
{
    <div class="row" style="margin: 0 auto;">
        <div class="col-md-2">
            <div class="card shadow p-3 border-light mb-3">
                <div class="card-header">ORDINA</div>
                <div class="card-body">
                    <label style="padding-bottom:10px">Ordina per:</label>
                    @Html.DropDownList("orderBy", (List<SelectListItem>)ViewBag.OrderBy, "Tutte", new { onchange = "form.submit();", @class = "form-control", type = "button", style = "background-color: #2d3139; color: #fff" })
                </div>
            </div>
            <div class="card shadow p-3 border-warning mb-3">
                <div class="card-header">FILTRI</div>
                <div class="card-body">
                    <label style="padding-bottom:10px">Entrata/Uscita:</label>
                    @Html.DropDownList("selectedType", (List<SelectListItem>)ViewBag.Type, "Tutte", new { onchange = "form.submit();", @class = "form-control", type = "button", style = "background-color: #2d3139; color: #fff" })
                    <label style="padding-bottom: 10px; padding-top: 8px">Categoria:</label>
                    @{
                        var codes = (IEnumerable<SelectListItem>)TempData["Codes"];
                    }
                    @Html.DropDownList("selectedCode", (List<SelectListItem>)codes, "Tutte", new { onchange = "form.submit();", @class = "form-control", type = "button", style = "background-color: #2d3139; color: #fff" })
                    <label style="padding-bottom: 10px; padding-top: 8px">Mese:</label>
                    @Html.DropDownList("selectedMonth", (List<SelectListItem>)ViewBag.ItemListMonth, "Tutti", new { onchange = "form.submit();", @class = "form-control", type = "button", style = "background-color: #2d3139; color: #fff" })
                    <label style="padding-bottom: 10px; padding-top: 8px">Anno:</label>
                    @Html.DropDownList("selectedYear", (List<SelectListItem>)ViewBag.ItemList, "Tutti", new { onchange = "form.submit();", @class = "form-control", type = "button", style = "background-color: #2d3139; color: #fff" })
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="card shadow p-3 border-info mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-5">
                            <button type="button" class="btn btn-sm" style="background-color: #2574A9;" data-toggle="modal" data-target="#newitem" data-whatever="getbootstrap">Aggiungi transazione</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive-xl">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Categoria</th>
                                    <th scope="col" style="text-align:right;">Descrizione</th>
                                    <th scope="col" style="text-align:right;">Importo</th>
                                    <th scope="col" style="text-align:right;">Data</th>
                                    <th scope="col" style="text-align:right;">Note</th>
                                    <th scope="col" style="text-align:right;">Azioni</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Transactions)
                                {
                                <tr>
                                    <td>
                                        @if (item.TrsValue >= 0)
                                        {
                                            <span class="badge rounded-pill bg-success">Entrata</span>
                                        }
                                        else
                                        {
                                            <span class="badge rounded-pill bg-danger">Uscita</span>
                                        }
                                    </td>
                                    <td>@item.TrsCode</td>
                                    <td style="text-align:right;">@item.TrsTitle</td>
                                    <td style="text-align:right;">@item.TrsValue.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-es"))</td>
                                    <td style="text-align:right;">
                                        @item.TrsDateTime.ToString("dd/MM/yyyy")
                                    </td>
                                    <td style="text-align:right;">@item.TrsNote</td>
                                    <td style="white-space: nowrap; text-align:right">
                                        <span class="btn btn-outline-primary material-icons md-24 orange600" type="button" onclick="Details(@item.ID)" style="display: inline-flex; vertical-align: text-bottom; font-size: 18px" data-toggle="tooltip" title="Dettagli">info</span>
                                        <span class="btn btn-outline-secondary material-icons md-24 orange600" type="button" onclick="Edit(@item.ID)" style="display: inline-flex; vertical-align: text-bottom; font-size: 18px" data-toggle="tooltip" title="Modifica">edit</span>
                                        <span class="btn btn-outline-danger material-icons md-24 orange600" type="button" onclick="Delete(@item.ID)" style="display: inline-flex; vertical-align: text-bottom; font-size: 18px" data-toggle="tooltip" title="Elimina">delete</span>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <ul class="pagination">
                            @if (ViewBag.Page == 0 && ViewBag.MaxPage!=0)
                            {
                                <li class="page-item disabled">

                                    <a class="page-link" href="#" tabindex="-1">
                                        <span class="material-icons" style="line-height: inherit;">
                                            navigate_before
                                        </span>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" style="background-color: #2574A9" href="@Url.Action("Transactions",
                                        new
                                        {
                                            page = ViewBag.Page + 1,
                                            orderBy = ViewBag.LastChoices[0],
                                            selectedType = ViewBag.LastChoices[1],
                                            selectedCode = ViewBag.LastChoices[2],
                                            selectedMonth = ViewBag.LastChoices[3],
                                            selectedYear = ViewBag.LastChoices[4]
                                        })">
                                        <span class="material-icons" style="line-height: inherit;">
                                            navigate_next
                                        </span>
                                    </a>
                                </li>

                            }
                            @if (ViewBag.Page > 0 && ViewBag.Page != ViewBag.MaxPage)
                            {
                                <li class="page-item active">
                                    <a class="page-link" href="@Url.Action("Transactions",
                                                                    new
                                                                    {
                                                                        page = ViewBag.Page - 1,
                                                                        orderBy = ViewBag.LastChoices[0],
                                                                        selectedType = ViewBag.LastChoices[1],
                                                                        selectedCode = ViewBag.LastChoices[2],
                                                                        selectedMonth = ViewBag.LastChoices[3],
                                                                        selectedYear = ViewBag.LastChoices[4]
                                                                    })">
                                        <span class="material-icons" style="line-height: inherit;">
                                            navigate_before
                                        </span>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" style="background-color: #2574A9" href="@Url.Action("Transactions",
                                        new
                                        {
                                            page = ViewBag.Page + 1,
                                            orderBy = ViewBag.LastChoices[0],
                                            selectedType = ViewBag.LastChoices[1],
                                            selectedCode = ViewBag.LastChoices[2],
                                            selectedMonth = ViewBag.LastChoices[3],
                                            selectedYear = ViewBag.LastChoices[4]
                                        })">
                                        <span class="material-icons" style="line-height: inherit;">
                                            navigate_next
                                        </span>
                                    </a>
                                </li>
                            }
                            @if (ViewBag.Page == ViewBag.MaxPage && ViewBag.Page!=0)
                            {
                                <li class="page-item active">
                                    <a class="page-link" href="@Url.Action("Transactions",
                                                                    new
                                                                    {
                                                                        page = ViewBag.Page - 1,
                                                                        orderBy = ViewBag.LastChoices[0],
                                                                        selectedType = ViewBag.LastChoices[1],
                                                                        selectedCode = ViewBag.LastChoices[2],
                                                                        selectedMonth = ViewBag.LastChoices[3],
                                                                        selectedYear = ViewBag.LastChoices[4]
                                                                    })">
                                        <span class="material-icons" style="line-height: inherit;">
                                            navigate_before
                                        </span>
                                    </a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">
                                        <span class="material-icons" style="line-height: inherit;">
                                            navigate_next
                                        </span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
        function Edit(ClientID) {
            var url = "/PersonalFinance/Transaction_Edit/" + ClientID;
            $("#ModalBodyDiv").load(url, function () {
                $("#edititem").modal("show");
            })
        }
        function Delete(ClientID) {
            var url = "/PersonalFinance/Transaction_Delete/" + ClientID;
            $("#ModalBodyDivDel").load(url, function () {
                $("#deleteitem").modal("show");
            })
        }
        function Details(ClientID) {
            var url = "/PersonalFinance/Transaction_Details/" + ClientID;
            $("#ModalBodyDivDet").load(url, function () {
                $("#detailsitem").modal("show");
            })
        }
        function OrderBy(type) {
            var url = "/PersonalFinance/Transaction_Details/" + ClientID;
            $("#ModalBodyDivDet").load(url, function () {
                $("#detailsitem").modal("show");
            })
        }
    </script>
}
